extends layout

block content
	h1= title

	table.table
		thead
			tr
				th 
				th
				th Nom
				th rareté
				th points de vie
				th degats 
				th dégats super
				th vitesse
				
		tbody
			each brawler in brawlers
				tr
					td 
						p= brawler.id
					td
						img(src=brawler.image3d, height=100)
					td
						p= brawler.nom
					td
						p= brawler.rarete
					td
						p= brawler.points_de_vie
					td
						p= brawler.degats_attaque_primaire
					td
						p= brawler.degats_attaque_super
					td
						p= brawler.vitesse
					
