extends layout

block content
	h1= title

	table.table
		thead
			tr
				th Nom
				th rareté
				th points de vie
				th degats 
				th dégats super
				th vitesse
				th image
		tbody
			each brawler in brawlers
				tr
					td
						p= brawler.nom
					td
						p= brawler.rarete
					td
						p= brawler.points_de_vie
					td
						p= brawler.degats_attaque_primaire
					td
						p= brawler.degats_attaque_super
					td
						p= brawler.vitesse
					td
						img(src=brawler.image, height=100)
					td
						img(src=brawler.image3d, height=100)
                    

			else
				p Pas de brawlers disponible 
