extends ../layout

block content

    h1= team.title
    h2 Map :
    h3= team.map
    
    p= map.cat
    img(src=map.image, height=200)
    
    h2 Compo :
    table.table
        thead
            tr
                th 
                
        tbody
            each val in [0,1,2]
                tr
                    td= brawlers[val].nom
                    td
                        img(src= brawlers[val].image, height=100)
                    td

    br
    form(action='/teams/' + team.id + '?_method=DELETE', method='POST')
      button.btn.btn-default Delete
    br
    a(href='/teams/' + team.id + '/edit') 
      button.btn.btn-default Edit