extends ../layout

block content

    h1 Account

    table.table
      tbody
        tr
          td username :
          td= user.username
        tr
          td firstname :
          td= user.firstname
        tr
          td lastname :
          td= user.lastname
        tr 
          td created at :
          td= user.createdAt
        tr
          td updated at :
          td= user.updatedAt
  
    br
    form(action='/account?_method=DELETE', method='POST')
      button.btn.btn-default Delete
    br
    a(href='/account/edit') 
      button.btn.btn-default Edit